*{
   padding: 0px;
   margin: 0px;
}
body{
   background-color: #400c60;
   background-image: url('image/body_background.gif');
   font-family: "Silkscreen", serif;
   font-weight: 400;
   font-style: normal;
   overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */

}

.silkscreen-regular {
   font-family: "Silkscreen", serif;
   font-weight: 400;
   font-style: normal;
}

.silkscreen-bold {
   font-family: "Silkscreen", serif;
   font-weight: 700;
   font-style: normal;
}

.vt323-regular {
   font-family: "VT323", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 50px;
}


.navbar{
   background-image: url('image/navbar_background.gif');
   /* background-size: cover; */
}

.header{
   background: #ddfec0;
   border-top: 8px solid #9744f2;
   border-bottom: 8px solid #9744f2;
   color: #b96ffa;   /* font-size: px; */
   /* -webkit-text-stroke: 1.5px #b980f3; */
   /* font-family: "VT323", serif; */
   /* font-weight: 400; */
   /* font-style: normal; */
}

.title{
   color: #7818e2;
   font-weight: 500;
   padding: 1rem !important;
   margin-top: 10px;

}

.image-diagnosticate{
   animation: scroll-left 10s linear infinite;
   height: 30px;
}

@keyframes scroll-left {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(-100%);
   }
}

#contenedor-inicio, #contenedor-resultado{
   min-height: 60vh;
   background: linear-gradient(1deg, #d4fcb2, #ffffff);
   border: solid 6px #7de211;
   /* width: 70%; */
   margin: auto;
   color: #9744f2;
   font-size: 24px;
}

#contenedor-inicio{
   font-size: 30px;
}

#contenedor-resultado{
   font-weight: 500;
   display: none;
   font-size: 24px;
   font-family: sans-serif;
}

.carousel{
   background: linear-gradient(1deg, #d4fcb2, #ffffff);
   border: solid 6px #7de211;
   min-height: 220px;
}

.contenedor-alternativas{
   font-size: 18px;
   color: #9744f2;
   /* font-weight: 600; */
   padding: 1rem 3rem;
}

.form-check{
   margin-bottom: 1rem!important;
}

.form-check-input:checked {
   background-color: #b98afb;
   border-color: #c59cff;
}

.form-check-input:focus {
   /* border-color: #5717ee; */
   outline: 0;
   box-shadow: 0 0 0 .25rem rgb(187 107 255 / 25%);
}

.carousel-item{
   padding: 1rem 3rem !important;
}

.contenedor-diagnostico, .contenedor-boton-inicio, .cuadro{
   background: #7818e2;
   border: 7px solid #cba2f3;
}

.cuadro{
   font-size: 18px;
}

.carousel-control-prev, .carousel-control-next{
   font-family: sans-serif!important;

}

.carousel-item{
   padding: 0!important;
}

